<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87313783140-r2qfofgdmlngk69sc92pq7k4mjkjtjuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87313783140-r2qfofgdmlngk69sc92pq7k4mjkjtjuo</string>
	<key>API_KEY</key>
	<string>AIzaSyC5B2iS971aSQ3x48tISczdz4L5Eeje6g4</string>
	<key>GCM_SENDER_ID</key>
	<string>87313783140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ponce.com.PonceGomezSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-43cfd</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-43cfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87313783140:ios:d8cbd3713252ce31edc271</string>
</dict>
</plist>